@use "../../styles/mixins" as mxn;

.banner {
  @include mxn.container;
  height: 100vh;
  min-height: 600px;
  max-height: 950px;
  width: 100%;
  background : linear-gradient(162.72deg, #01D887 8.19%, #3ABAC2 44,72%, #3D44C9 91,7%);
  background-size: 900px;

  @media screen and (min-width: 767px) {
    background-position: left -280px top 120px;
    background : linear-gradient(162.72deg, #01D887 8.19%, #3ABAC2 44,72%, #3D44C9 91.7%);
  }

  &_header{
    @include mxn.container("650px");
    @include mxn.flex("column", "nowrap");
  margin-bottom: 3rem;
  }
 
}
