@use "../../styles/mixins" as mxn;

.home-page {
  @include mxn.container;
  background-size: 900px;

  @media screen and (min-width: 767px) {
    background-position: left -280px top 120px;
  }

  &_header {
    @include mxn.container("650px");
    @include mxn.flex("column", "nowrap");
    margin-bottom: 3rem;
  }
}
