@use "../../styles/mixins" as mxn;

.header {
  @include mxn.header;

  .logo {
    height: auto;
  }
  &_content {
    // flex-grow: 1;

    h1 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 5px;
    }
    h3 {
      font-size: 14px;
      text-align: center;
    }
  }
}
