:root {
  // COLORS
  --primary: #6c4e4e;
  --primary-50: #936c6c;
  --primary-25: #d9cdcd;
  --secondary: #ffe6d1;
  --secondary-opacity-50: rgba(255, 230, 209, 0.25);
  --secondary125: #fdd0ab;
  --secondary-50: #fff6ee;
  --secondary-25: #fffbf8;
  --accent: #fdab81;
  --white: #fefefe;
  --light-grey: #d9d9d9;
  --light-red: #e94e4e;
  --dark-red: #a30909;
  --dark-brown: #3b3030;

  // PADDING
  --padding-xxs: 0.4rem;
  --padding-xs: 0.8rem;
  --padding-s: 1.6rem;
  --padding-m: 2.4rem;
  --padding-l: 3.2rem;
  --padding-xl: 4.8rem;
  --padding-xxl: 6.4rem;

  // RADIUS
  --radius-xxs: 0.1rem;
  --radius-xs: 0.2rem;
  --radius-s: 0.4rem;
  --radius-m: 0.55rem;
  --radius-l: 0.7rem;

  // SHADOW
  --shadow-border-xxs: 0px 0px 0px 1px;
  --shadow-border-m: 0px 0px 0px 4px;
  --box-shadow-2-2-5: 2px 2px 5px 0px rgba(59, 48, 48, 0.25);
  --box-shadow-0-0-10: 0px 0px 10px 0px rgba(59, 48, 48, 0.25);

  // FONTS
  --font-label: 1.3rem;
  --font-size-s: calc(1rem + 0.6vmin);
  --font-size-n: calc(1.2rem + 0.6vmin);
  --font-size-m: calc(1.6rem + 0.6vmin);
  --font-size-l: calc(1.8rem + 0.6vmin);
  --font-size-xl: calc(2rem + 0.6vmin);
  --font-size-xxl: calc(2.5rem + 0.6vmin);

  // FONT WEIGHT
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}
