@use "../../styles/mixins" as mxn;

.form-contact {
  @include mxn.flex("column", "nowrap");
  gap: 32px;
  margin: var(--margin-xl);
}

.error_red {
  color: var(--error);
  font-weight: var(--semi-bold);
  font-size: var(--font-size-s);
  text-align: center;
}

.success-message {
  color: var(--success);
  font-weight: var(--semi-bold);
  font-size: var(--font-size-s);
  text-align: center;
}

textarea {
  font-family: var(--font-family);
  width: 248px;
  height: 45px;
}

a {
  color: var(--text-color);
}

img {
  width: 100%;
  height: 150px;
  display: block;
  padding: 0px 50px;
}
