@use "../../styles/mixins" as mxn;

.footer {
  color: var(--white);
  padding: 1rem 0;
  text-align: center;
  font-size: var(--font-label);
  margin-bottom: 0;

  &_content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      flex: 1 1 100%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 10px;

        a {
          text-decoration: none;
          color: var(--white);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer-brand {
  margin-top: 1rem;
  flex: 1 1 100%;

  p {
    margin: 0;
    font-size: 14px;
  }
}

@media screen and (min-width: 780px) {
  .footer-content {
    justify-content: space-between;

    p {
      flex: 1 1 auto;
    }

    .footer-brand {
      flex: 0 0 auto;
    }
  }
}
